{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="modal fade" id="add_customer" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">新增顾客</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post" id="new_customer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">顾客姓名</span>
                                            <input type="text" name="customer_name" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">联系方式</span>
                                            <input type="text" name="customer_phone" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">送货地址</span>
                                            <input type="text" name="customer_address" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>备注</label>
                                                    <textarea class="form-control" name="customer_remark"
                                                              rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" form="new_customer" formmethod="post"
                                    formaction="/customer/add">
                                新增
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">

                <div class="panel-heading">
                    客户信息
                </div>
                <div class="panel-body">
                    <form id="customer_form" method="post" role="form">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td></td>
                                <td>顾客姓名</td>
                                <td>联系方式</td>
                                <td>送货地址</td>
                                <td>备注</td>
                            </tr>
                            {% for i in data %}
                                <tr>
                                    <td><input type="checkbox" value="{{ i.ID }}"
                                               name="customer_check"></td>
                                    <td>{{ i.Name }}</td>
                                    <td>{{ i.Phone }}</td>
                                    <td>{{ i.Address }}</td>
                                    <td>{{ i.Remark }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#add_customer">
                            增加
                        </button>
                        <button type="submit" class="btn btn-danger" form="customer_form"
                                formaction="/customer/del" formmethod="post">删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}