{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="modal fade" id="add_salebill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">新增订单</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post" id="new_salebill">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">商品名称</span>
                                            <input type="text" name="product_name" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">商品价格</span>
                                            <input type="text" name="product_price" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">商品数量</span>
                                            <input type="text" name="product_number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>备注</label>
                                                    <textarea class="form-control" name="product_remark"
                                                              rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" form="new_product" formmethod="post"
                                    formaction="/salebill/add">
                                新增
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    商品存货信息
                </div>
                <div class="panel-body">
                    <form id="salebill_form" method="post" role="form">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td></td>
                                <td>商品名称</td>
                                <td>商品价格</td>
                                <td>供货商</td>
                                <td>存货数量</td>
                                <td>备注</td>
                            </tr>
                            {% for i in data %}
                                <tr>
                                    <td><input type="checkbox" value="{{ i.ID }}"
                                               name="salebill_check"></td>
                                    <td>{{ i.Name }}</td>
                                    <td>{{ i.Price }}</td>
                                    <td>{{ i.Supplier_Name }}</td>
                                    <td>{{ i.Quantity }}</td>
                                    <td>{{ i.Remark }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#add_salebill">
                            增加
                        </button>
                        <button type="submit" class="btn btn-danger" form="salebill_form"
                                formaction="/salebill/del" formmethod="post">删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}